{% extends 'notes/base.html' %}
{% block content %}
<a href="{% url 'notes:create' %}">Add item</a>

<form method="GET">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Search">
</form>
<table>
{% for item in items %}
    <tr>
        <td>{{ item.title }}</td>
        <td><a href="{% url 'notes:item' item.id %}">View</a></td>
        <td><a href="{% url 'notes:edit' item.id %}">Edit</a></td>
        <td><a href="{% url 'notes:delete' item.id %}">Delete</a></td>
    </tr>
{% endfor %}
</table>
{% endblock content%}